version: 2

jobs:
  build:
    working_directory: ~/redux-user-timing
    docker:
      - image: circleci/node:10.15.0
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependency
          command: npm ci
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: Build
          command: npm run build
      - run:
          name: Test
          command: |
            npm run test:coverage
            cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
      - store_artifacts:
          path: coverage
